.snow-animation {
    background: lightgray;
    padding: 20px
}

.session-id {
    font-size: 20px;
    padding: 20px
}

.session-id span {
    font-weight: bold;
}

.animation-header {
    display: flex;
}

.animation-header button {
    margin: 20px;
}

.snow-animation canvas {
    border: 1px solid black;
}
